variable "username" {
  description = "The username for Proxmox"
  type        = string
  sensitive = false
  default = "root@pam"
  
}
variable "password" {
  description = "The password for Proxmox"
  type        = string
  sensitive = true
  default = ""
}

variable "proxmox-host" {
  description = "The Proxmox server"
  type        = string
  default = "10.0.0.65"
  
}

variable "pvt_key" {
  default = "$HOME/proxk3s"
}

variable "num_k3s_masters" {
 default = 1 
}

variable "num_k3s_masters_mem" {
 default = "4096"
}

variable "num_k3s_nodes" {
 default = 4
}

variable "num_k3s_nodes_mem" {
 default = "4096"
}

variable "tamplate_vm_name" {
 default = "ubuntu-hirsute-cloudinit-template"
}
